.conteiner{
    .header {
        display: flex;
        width: 100%;
        height: auto;
        padding-bottom: 10px;
        grid-area: header;
        background-color:$bg-header-footer;
        border-bottom: 1px solid $color-primario;
        position: sticky;
        top: 0px;
        z-index: 1;

        #logodisney {
            margin-left: 15px;
            margin-top: 15px;

            img {
                width: 200px;
            }
        }

        .container-nav {
            width: 80%;
            display: flex;
            justify-content: space-around;

            .navbar {
                background-color:$bg-header-footer;

                .container-fluid {
                    .navbar-toggler {
                        background-color: $color-primario;
                        border: 1px solid $color-secundario;
                    }

                    #navbarNav {
                        .navbar-nav {
                            .nav-item {
                                padding-right: 10px;
                                border-right: 1px solid $bg-main;

                                .nav-links {
                                    color: $color-terciario;
                                    text-decoration: none;
                                    font-family: 'intensamente';
                                    text-align: center;
                                    font-size: 30px;
                                    margin-left: 10px;

                                    &:hover {
                                        color: $color-secundario;
                                        transition: 300ms;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}