.conteiner {
    .mainNoticias {
        background-color: $bg-main;
        padding: 30px;
        grid-area: main;

        #noticias {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            h1 {
                @extend .h1;
            }

            h2 {
                @extend .h2;
            }

            .articulos {
                width: 100%;
                display: flex;
                justify-content: center;

                p {
                    width: 45%;
                    text-align: center;
                    font-size: 20px;
                    padding: 30px;
                    margin-top: 30px;
                    margin-left: 25px;
                    margin-bottom: 25px;
                    background-color: $bg-header-footer;
                    box-shadow: 1px 0px 4px 2px inset $color-terciario;
                    color: $color-primario;
                    line-height: 20px;
                    border-radius: 25px;
                }
            }

            .seccion-diario {
                width: 100%;
                display: flex;
                flex-direction: column;

                .info {
                    @extend .flex-wrap-center;
                    width: 100%;

                    h3 {
                        @extend .h3;
                    }

                    a {
                        margin-left: 20px;
                        margin-top: 5px;
                        text-decoration: none;
                        color: $color-secundario;
                        font-family: 'noto';
                    }
                }

            }

            .juegos {
                width: 70%;
                display: flex;

                iframe {
                    border-radius: 20px;
                    margin: 5px;
                }
            }
        }
    }
}