

.conteiner {
    .mainContacto {
        background-color:$bg-main;
        padding: 30px;
        grid-area: main;

        #contacto-container {

            .contacto {
                @extend .flex-wrap-center;
                justify-content: space-around;

                h2 {
                    @extend .h2;
                }
                .contactanos {
                    width: 100% auto;
                    text-align: center;
                    color: $color-primario;
                    font-family: 'noto';
                    font-size: 20px;
                    margin-top: 10px;
                    margin-bottom: 30px;
                    display: flex;
                }
                #formulario {
                    width: 40%;

                    .mb-3 {
                        .form-label {
                            font-family: 'intensamente';
                            font-size: 20px;
                            letter-spacing: 3px;
                            color: rgb(228, 238, 187);
                        }
                    }

                    button {
                        border: none;
                        box-shadow: 1px 0px 4px 2px $color-terciario;
                        background-color: $color-primario;
                        color: $bg-main;
                        letter-spacing: 3px;
                        font-family: 'intensamente';
                        font-size: 20px;
                        font-weight: bold;
                        &:hover{
                            background-color:$bg-main;
                            color: $color-primario;
                        }
                    }
                }
                .imagencontacto {
                    width: 35%;
                    
                    .imgcontacto {
                        width: 100%;
                        margin-top: 30px;
                        border-radius: 30px;
                       animation: opacity 7s  infinite;

                       @keyframes opacity {
                        0%{
                            opacity: 0.8;
                        }
                        25%{
                            opacity: 0.5;
                        }
                        50% {
                            opacity: 0.1;
                        }
                        75%{
                            opacity:0.5 ;
                        }
                        100%{
                            opacity:0.8 ;
                        }
                        
                       }
                    }
                } 

            }
        }
    }
}