.conteiner {
    .mainError404 {
        background: $bg-header-footer;
        opacity: 0.9;
        padding: 30px;
        grid-area: main;
        z-index: -1;

        #e404 {
            h1 {
                @extend .h1;
               

            }

            h2 {
                @extend .h2;

            }

            .comentario404 {
                width: 100%;
                text-align: center;
                font-size: 30px;
                color: $color-primario;

            }

            .ansiedad-e404 {
                width: 80% auto;
                display: flex;
                flex-direction: row;

                .img-e404 {
                    width: 35%;
                  
                }

                .mensaje404 {
                    width: 85%;
                    h3 {
                        @extend .h3;
                        margin-top: 125px;
                   }

                    .link-e404 {
                        width: 250px;
                        height: 35px;
                        line-height: 2rem;
                        margin-left: 320px;
                        display: block;
                        text-align: center;
                        background-color: $color-primario ;
                        border-radius: 10px;
                        font-size: 1.5rem;
                        font-weight: bold;
                        font-family: 'noto';
                    }
                }
            }


        }

    }
}