/* Inicio fuentes importadas*/
@font-face {
    font-family: 'intensamente';
    src: url('../fonts/caveatbrush/CaveatBrush-Regular.ttf');
}

@font-face {
    font-family: 'noto';
    src: url('../fonts/notoaerifjp/NotoSerifJP-VariableFont_wght.ttf');
}

/* Fin de fuentes importadas*/


/*Variables*/
$bg: #02104b;
$color-font-claro: #cef3f3;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    width: 100%;
    display: flex;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 3fr auto;
    grid-template-areas:
        "header "
        "main  "
        "footer ";

}

@import "header";
@import "mainIndex";
@import "mainHistoria";
@import "mainPersonajes";
@import "mainNoticias";
@import "mainContacto";
@import "footer";