/* Inicio fuentes importadas*/
@font-face {
    font-family: 'intensamente';
    src: url('../fonts/caveatbrush/CaveatBrush-Regular.ttf');
}

@font-face {
    font-family: 'noto';
    src: url('../fonts/notoaerifjp/NotoSerifJP-VariableFont_wght.ttf');
}

/* Fin de fuentes importadas*/
@import "var";
@import "resetBody";
@import "header";
@import "mainIndex";
@import "mainHistoria";
@import "mainPersonajes";
@import "mainNoticias";
@import "mainContacto";
@import "footer";
@import "404";
@import "mediaQueries";